<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pet Records
    </ion-title>
    <ion-button (click)="presentAlert()">PetInfo <ion-icon name="information-circle-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card>
      <ion-card-content>
        <h4>Hey User you can see the pet deatils by clicking the button below.</h4>
        <ion-button class="nis" (click) = "getPetRecords()"> Pet Details</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
  

  
</ion-content>
